<div class="card">
    <div class="card-body">
        <br>
        <div class="text-center mb-3">
            <h1>Login</h1>
        </div>
        <br>
        <hr>
        <br>
        <form action="" method="POST">
            <div class="mb-3 mt-4">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control form-control-lg" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control form-control-lg" id="senha" name="senha" required>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-primary btn-lg">Login</button>
            </div>
        </form>
    </div>
</div>