<div class="card shadow">
    <div class="card-body">
        <div class="text-center">
            <h1>{{ postagem.titulo }}</h1>
        </div>
        <div class="text-right">
            <small>{{ postagem.data }}</small>
        </div>
        <hr>
        {{{ postagem.conteudo }}}
        <div id="conteudo">

        </div>
    </div>
</div>


